{% extends 'base.html' %}

{% block body %}
<div id="header">
  <h1>history for {{ job }}/{{ test_name }}:</h1>
  <div id="navbox">
    {% for link in top_links %}
    <span><a href="{{ link["href"] }}">{{ link["text"] }}</a></span>
    {% endfor %}
  </div>
</div>
<div id="content">
  <div class="section">
  <table style="width:100%">
    <colgroup>
      <col/>
      <col/>
      <col/>
      <col/>
      <col/>
      <col/>
    </colgroup>
    <tr>
      {% set sort_col = sort_prefs['results'].split(':') %}
      <th
        {% if sort_col[0] == 'build_name' %}
        class="sort-section-{{ sort_col[1] }}"
        {% endif %}
        ><a href="{{ request.path + '?sort_col=build_name&sort_section=results' }}">Build Name</a></th>
      <th
        {% if sort_col[0] == 'hardware' %}
        class="sort-section-{{ sort_col[1] }}"
        {% endif %}
        ><a href="{{ request.path + '?sort_col=hardware&sort_section=results' }}">Hardware</a>
      </th>
      <th
        {% if sort_col[0] == 'arch' %}
        class="sort-section-{{ sort_col[1] }}"
        {% endif %}
        ><a href="{{ request.path + '?sort_col=arch&sort_section=results' }}">Architecture</a>
      </th>
      <th
        {% if sort_col[0] == 'status' %}
        class="sort-section-{{ sort_col[1] }}"
        {% endif %}
        ><a href="{{ request.path + '?sort_col=status&sort_section=results' }}">Status</a>
      </th>
      <th
        {% if sort_col[0] == 'filtered_status' %}
        class="sort-section-{{ sort_col[1] }}"
        {% endif %}
        ><a href="{{ request.path + '?sort_col=filtered_status&sort_section=results' }}">Filtered Status</a>
      </th>
      <th
        {% if sort_col[0] == 'time' %}
        class="sort-section-{{ sort_col[1] }}"
        {% endif %}
        ><a href="{{ request.path + '?sort_col=time&sort_section=results' }}">Time</a>
      </th>
    </tr>
    {% for result in results %}
    <tr>
      <td><a href="../../builds/{{ result["build_id"] }}/results/{{ result["result_id"] }}">{{ result["build_name"] }}</a></td>
      <td>{{ result["hardware"] }}</td>
      <td>{{ result["arch"] }}</td>
      <td class="{{ result["status"] }}">{{ result["status"] }}</td>
      <td class="{{ result["filtered_status"] }}">{{ result["filtered_status"] }}</td>
      <td>{{ result["time"] }}</td>
    </tr>
    {% endfor %}
  </table>
  </div>
</div>
{% endblock %}
