{% extends 'base.html' %}

{% block body %}
<div id="header">
  <h1>tests matching for {{ test_string }}:</h1>
  <div id="navbox">
    {% for link in top_links %}
    <span><a href="{{ link["href"] }}">{{ link["text"] }}</a></span>
    {% endfor %}
  </div>
</div>
<div id="content">
  <div class="section">
  <table style="width:100%">
    <colgroup>
      <col/>
    </colgroup>
    <tr>
      <th>Test Name</th>
    </tr>
    {% for result in results %}
    <tr>
      <td><a href="../../../../builds/{{ build_id }}/group/{{ result["test_id"] }}">{{ result["test_name"] }}</a></td>
    </tr>
    {% endfor %}
  </table>
  <div style="text-align: center">
    <br>
    <a style="padding-right:2em; visibility: {{ 'block' if results else 'hidden' }}" href="{{ request.path + '?q=' + test_string + '&page=' + prev_grp }}">< Previous</a>
    <a style="padding-left:2em; visibility: {{ 'block' if results else 'hidden' }}" href="{{ request.path + '?q=' + test_string + '&page=' + next_grp }}">Next > </a>
    <br>
    <br>
  </div>
  </div>
</div>
{% endblock %}
